.vim/plugged
.vim/swap/*
.vim/undo/*
*.pyc
.vim/init.vim
*rplugin*
.vim/.netrwhist
*.spl
*.sug
tags
karabiner/automatic_backups/
nvim/plugged
nvim/swap
nvim/undo
nvim/spell
nvim/.DS_Store
nvim/.netrwhist
