[user]
	email = andrew@nomanini.com
	name = Andrew van Rooyen
[push]
	default = simple
[core]
    editor = nvim
[alias]
	lg = !git --no-pager log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    a = add
    b = branch
    c = commit
    s = status
[merge]
	tool = vimdiff
[mergetool]
	path = nvim
