[user]
	email = wraith.andrew@gmail.com
	name = Andrew van Rooyen
[includeIf "gitdir:~/code/"]
  path = ~/.gitconfig-work
[push]
	default = simple
[core]
    editor = nvim
[alias]
	lg = !git --no-pager log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    a = add
    b = branch
    c = commit
    co = checkout
    s = status
[merge]
	tool = nvim -d
[mergetool]
	path = nvim
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[diff]
	tool = nvim -d
[mergetool "nvim"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
